<%- include('../partials/header.ejs') %>

<style>
    h2{
        margin-top: 2%;
    }
    label{
        margin-top: 2%;
        font-size: 20px;
    }
</style>

<div class="container text-center">    
    <h2 class="display-2 my-5" role="alert">Login</h2>
    <% if(message.length) { %>
        <div class="alert alert-danger"><%= message %></div> 
    <% } %>
    <form class="text-center" action="/login" method="post">
        <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" name="username">
        </div>
        <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" name="password">
        </div>
        <button type="submit" class="btn btn-succcess btn-lg">Login</button>
    </form>
    <hr>
    <p>Click To Register A New Admin</p>
    <a class="btn btn-outline-success" href="/signup">Register</a>
</div>    

<%- include('../partials/footer.ejs') %>
