<%- include('partials/header.ejs') %>

<div class="container text-center">
    <h1 class="display-3 text-center my-5">Details Of The Book Being Returned: </h1>
    <form class="text-center my-5" action="/return" method="POST">
        <div class="form-group">
        <label for="title">Member ID: </label>
        <input type="number" class="form-control" id="mid" name="mid">
        </div>
        <div class="form-group">
        <label for="categories">Book ID: </label>
        <input type="number" class="form-control" id="bid" name="bid">
        </div>
        <div class="form-group">
            <label for="authors">Expected Date Of Return: </label>
            <input type="date" class="form-control" id="edor" name="edor">
        </div>
        <div class="form-group">
            <label for="total">Return Date: </label>
            <input type="date" class="form-control" id="dor" name="dor">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<%- include('partials/footer.ejs') %>
